/ #strava_response
/   %table.table.table-stripped.table-bordered.slide-table
/     %thead
/       %tr
/         %th Ride Name
/         %th Start Latitude
/         %th Start Longitude
/         %th Average Grade
/         %th End Latitude
/         %th End Longitude

/     %tbody
