.container-fluid
  .row
    .col-xs-12.sign-in
      .center-block
        =link_to 'Login', new_user_session_path, :class => "btn btn-small btn-primary btn-block"
        =link_to 'Sign up for BuddyUp', new_user_registration_path, :class => "btn btn-small btn-default btn-block sign-up"