body{
  .alert{display:none;}
  background-color: #f5f5f5;
  .title-all{
    color:white;
  }
  .tarmac{
    background-image: url("road_banner.jpg");
    background-repeat: repeat-x;  
    position:relative;
  }
  .tarmac-footer{
    background-image: url("road_banner.jpg");
    background-repeat: repeat;  
    min-height: 110px;
    max-height: 110px;
    position:relative;
}
  .sessions-new{
    margin-left: 5%;
    margin-right: 5%;

    .log_in_box{
      border-radius: 9%;
      border:2px solid #e7e7e7;
      padding-left: 6%;
      width: 336px;
      margin:0 auto; 
      .remember-me{
      }
      .forgot-password{
        font-size:12px;
        font-family:inherit;
      }
      .btn-block{
        width:88%;
        margin-top:5%;
      }

    }
    .btn-cancel{
      width:88%;
    }
    .button-provider{
      background-image: url(/assets/ConnectWithStrava.png);
      background-repeat: no-repeat;
      height: 30px;
      display: block;
      width:170px;
      margin-top:-9px;
      margin-left:8%;
      &:hover { 
        opacity:0.7; 
      }
    }
      .strava-edit{
        background-image: url(/assets/ConnectWithStrava.png);
        background-repeat: no-repeat;
        height: 30px;
        display: block;
        width:170px;
        margin-top:3%;
        margin-left:15%;
        margin-bottom:2%;
        &:hover { 
          opacity:0.7;  
      }
    }
  }
}
