.container-fluid
  .row
    .col-xs-1.col-md-3
    .col-xs-10.col-md-6.text-center
      %h1 Find a Buddy
    .col-xs-1.col-md-3
  .row
    .col-xs-1.col-md-3
    .col-xs-10.col-md-6
      %form{:role => "form"}
        .form-group
          %label{:for => "address", :name => 'buddyform'} 
          %input#addressInput.form-control{:placeholder => "Use current location or enter address", :type => "address", :name => 'address'}
        .form-group
          %label{:for => "ride_distance"}
          %input#distanceInput.form-control{:placeholder => "Distance from buddy", :type => "ride_distance"}
        / .form-group
        /   %label{:for => "skill"} Skill
        / .form-group 
        /   %label.checkbox-inline
        /     %input#inlineCheckbox1{:type => "checkbox", :value => "easy"}easy
        /   %label.checkbox-inline
        /     %input#inlineCheckbox2{:type => "checkbox", :value => "medium"}medium
        /   %label.checkbox-inline
        /     %input#inlineCheckbox3{:type => "checkbox", :value => "hard"}hard
        %button.btn.btn-primary.map{:type => "submit"} Find a buddy

    .col-xs-1.col-md-3
    .col-xs-12.col-md-12#map-canvas
  .row
    .col-xs-12
      =render 'ride_response'

      %br

  